{relx, [{release, {gleam_synapses, "0.0.2"},
         [gleam_synapses]},

        {dev_mode, true},
        {include_erts, false},

        {extended_start_script, true}
       ]
}.

{erl_opts, [debug_info]}.
{src_dirs, ["src", "gen/src"]}.

{profiles, [
    {test, [{src_dirs, ["src", "test", "gen/src", "gen/test"]}]},
    {prod, [{relx, [{dev_mode, false},
                        {include_erts, true}]}
         ]}
]}.

{project_plugins, [rebar_gleam]}.

{deps, [
    {gleam_stdlib, "0.14.0"},
    {gleam_zlists, "0.0.3"},
    {gleam_decode, "1.7.0"},
    {jsone, "1.5.0"},
    {minigen, "0.0.1"}
]}.
